name = "packcdn"
main = "src/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
workers_dev = true

[env.development]
workers_dev = true

[dev]
port = 8787
ip = "127.0.0.1"

[vars]
API_BASE_URL = "https://pack-cdn.vercel.app/api"
DEFAULT_ORIGIN = "*"
